/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    color: #fff;
}

.container {
    max-width: auto;
    margin: 0 auto;
    padding: 0 15px;
}

/* Primary color */
:root {
    --primary-color: #8ea1b5;
    --secondary-color: #f7921e;
    --background-color: #1a1a1a;
    --text-color: #fff;
}

/* Header Styles */
header {
    background-color: var(--background-color);
    padding: 20px 0;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

header img {
    width: 200px;
    height: auto;
}

header h1 {
    color: var(--primary-color);
    font-size: 36px;
    margin: 20px 0;
    font-weight: 700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

/* Navigation Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: var(--primary-color);
}

/* Hero Section */
.hero-section {
    background: linear-gradient(to right, #585858, black);
    color: white;
    padding: 50px 0;
    text-align: center;
}

.hero-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-section p {
    font-size: 1.2em;
}

.hero-section .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    padding: 10px 20px;
    font-size: 1em;
}

.hero-section .btn:hover {
    background-color: #f4bc94;
    border-color: #f4bc94;
}

/* About Us Section */
#about {
    padding: 30px 0;
    background-color: #f8f9fa;
    color: #000;
}

#about h2 {
    text-align: center;
    margin-bottom: 30px;
}

#about p {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

/* Services Section */
.service-section {
    padding: 80px 0;
    text-align: center;
}

.service-section h2 {
    font-size: 36px;
    font-weight: 700;
    color: var(--primary-color);
    margin-bottom: 40px;
}
.card-p {
    padding: 20px;
    width: 100%;
    max-width: 330px;
    min-height: 220px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers the content horizontally */
    text-align: center;  /* Centers the text */
}

.symbol {
  margin-bottom: 10px; /* Adjust spacing as needed */
  max-width: 120px; //* Adjust the size as needed */
}
.symbol1 {
  margin-bottom: 10px; /* Adjust spacing as needed */
  max-width: 120px; /* Adjust the size as needed */
}
.symbol2 {
    margin-bottom: 10px; /* Adjust spacing as needed */
    max-width: 120px; /* Adjust the size as needed */
}

/* Card Styles */
.card {
    padding: 20px;
    width: 100%;
    max-width: 330px;
    min-height: 370px;
    border-radius: 20px;
    background: #212121;
    box-shadow: 5px 5px 8px #1b1b1b,
               -5px -5px 8px #272727;
    transition: 0.4s;
    margin: auto;
}

.card:hover {
    transform: translateY(-10px);
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    color: #f4bc94;
    margin: 15px 0 0 10px;
}

.card-image1 {
    min-height: 170px;
    background-image: url(image1.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
                inset -5px -5px 3px #333333;
}

.card-image2 {
    min-height: 170px;
    background-image: url(image2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
                inset -5px -5px 3px #333333;
}
.card-image3 {
    min-height: 170px;
    background-image: url(image3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    border-radius: 15px;
    box-shadow: inset 5px 5px 3px #2f2f2f,
                inset -5px -5px 3px #333333;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(184, 184, 184);
    font-size: 15px;
}

.footer {
    float: right;
    margin: 28px 0 0 18px;
    font-size: 13px;
    color: #b3b3b3;
}

.by-name {
    font-weight: 700;
}

/* Contact Us Section */
#contact {
    padding: 30px 0;
    background-color: #f8f9fa;
    color: #000;
}

#contact h2 {
    text-align: center;
    margin-bottom: 30px;
}

#contact .form-group {
    margin-bottom: 20px;
}

#contact .form-control {
    border-radius: 0;
    box-shadow: none;
    border-color: #ced4da;
}

#contact .btn {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

#contact .btn:hover {
    background-color: #f4bc94;
    border-color: #f4bc94;
}

/* Footer Styles */
footer {
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding: 40px 0;
    margin-top: 80px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.2);
}

footer p {
    margin: 0;
}

footer::before {
    content: '';
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100px;
    
}

/* Media Queries */
@media (max-width: 768px) {
    nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    nav ul li {
        margin-bottom: 10px;
    }

    .hero-section h1 {
        font-size: 2.5em;
    }

    .hero-section p {
        font-size: 1em;
    }

    .hero-section .btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }

    .card {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 576px) {
    .hero-section h1 {
        font-size: 2em;
    }

    .hero-section p {
        font-size: 0.9em;
    }

    .hero-section .btn {
        padding: 6px 12px;
        font-size: 0.8em;
    }
}
.call-button,.call-button::after {
    padding: 10px 50px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: transparent;
    position: relative;
  }
  
  .call-button::after {
    --move1: inset(50% 50% 50% 50%);
    --move2: inset(31% 0 40% 0);
    --move3: inset(39% 0 15% 0);
    --move4: inset(45% 0 40% 0);
    --move5: inset(45% 0 6% 0);
    --move6: inset(14% 0 61% 0);
    clip-path: var(--move1);
    content: 'GLITCH';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
  }
  
  .call-button:hover::after {
    animation: glitch_4011 1s;
    text-shadow: 10 10px 10px black;
    animation-timing-function: steps(2, end);
    text-shadow: -3px -3px 0px #f4bc94, 3px 3px 0px black;
    background-color: transparent;
    border: 3px solid #f4bc94;
  }
  
  .call-button:hover {
    text-shadow: -1px -1px 0px #f4bc94, 1px 1px 0px black;
  }
  
  .call-button:hover {
    background-color: transparent;
    border: 1px solid #f4bc94;
    box-shadow: 0px 10px 10px -10px #f4bc94;
  }
  
  @keyframes glitch_4011 {
    0% {
      clip-path: var(--move1);
      transform: translate(0px,-10px);
    }
  
    10% {
      clip-path: var(--move2);
      transform: translate(-10px,10px);
    }
  
    20% {
      clip-path: var(--move3);
      transform: translate(10px,0px);
    }
  
    30% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    40% {
      clip-path: var(--move5);
      transform: translate(10px,-10px);
    }
  
    50% {
      clip-path: var(--move6);
      transform: translate(-10px,10px);
    }
  
    60% {
      clip-path: var(--move1);
      transform: translate(10px,-10px);
    }
  
    70% {
      clip-path: var(--move3);
      transform: translate(-10px,10px);
    }
  
    80% {
      clip-path: var(--move2);
      transform: translate(10px,-10px);
    }
  
    90% {
      clip-path: var(--move4);
      transform: translate(-10px,10px);
    }
  
    100% {
      clip-path: var(--move1);
      transform: translate(0);
    }
  }
  
  .counter {
    font-size: 3em;
    color: #d1cfcf;
    margin: 20px 0;
}
.label {
    font-size: 1.5em;
    color: #d3d0d0;
}
.xanimated {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column; /* Default to column for mobile */
    align-items: center;
    justify-content: center;
    background-color: transparent;
   
}
.item {
    margin: 10px;
    padding: 10px;
    background-color:transparent;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    width: 80%; /* Default width for mobile */
}
/* Media query for larger screens */
@media (min-width: 768px) {
    .xanimated {
        flex-direction: row; /* Change to row for larger screens */
    }
    .item {
        width: auto; /* Adjust width for larger screens */
        flex: 1;
        margin: 0 10px; /* Adjust margin for spacing between items */
    }
}
.get {
    color: white;
    text-decoration: none;
    font-size: 25px;
    border: none;
    background: none;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }
  
  .get::before {
    margin-left: auto;
  }
  
  .get::after, .get::before {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    transition: 0.5s;
  }
  
  .get:hover::after, .get:hover::before {
    width: 100%;
  }
 

  .container8 {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
#about {
    padding: 50px 0; /* Add some top and bottom padding */
}
.ddd {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px; 
    space
}
.leftbox, .rightbox {
    width: 100%;
    justify-content: space-between;
    padding: 8px;
}
.rightbox img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    justify-content: space-between;
}
.leftbox h5, .leftbox p {
    margin: 0;
    padding: 10px 0;
}
/* Media query for larger screens */
@media (min-width: 768px) {
    .ddd {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
    }
    .leftbox, .rightbox {
        width: 50%;
    }
    .leftbox {
        padding-right: 20px;
    }
    .rightbox img {
        margin-top: 0;
    }
}
.image-card{
    height:450px ;
    width: 450px; 
}
.btn-31,
.btn-31 *,
.btn-31 :after,
.btn-31 :before,
.btn-31:after,
.btn-31:before {
border: 0 solid;
box-sizing: border-box;
}

.btn-31 {
-webkit-tap-highlight-color: transparent;
-webkit-appearance: button;
background-color: #000;
background-image: none;
color: #fff;
cursor: pointer;
font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
font-size: 100%;
font-weight: 900;
line-height: 1.5;
margin: 0;
-webkit-mask-image: -webkit-radial-gradient(#000, #fff);
padding: 0;
}

.btn-31:disabled {
cursor: default;
}

.btn-31:-moz-focusring {
outline: auto;
}

.btn-31 svg {
display: block;
vertical-align: middle;
}

.btn-31 [hidden] {
display: none;
}

.btn-31 {
border-width: 1px;
padding: 1rem 2rem;
position: relative;
text-transform: uppercase;
}

.btn-31:before {
--progress: 100%;
background: #fff;
-webkit-clip-path: polygon(
100% 0,
var(--progress) var(--progress),
0 100%,
100% 100%
);
clip-path: polygon(
100% 0,
var(--progress) var(--progress),
0 100%,
100% 100%
);
content: "";
inset: 0;
position: absolute;
transition: -webkit-clip-path 0.2s ease;
transition: clip-path 0.2s ease;
transition: clip-path 0.2s ease, -webkit-clip-path 0.2s ease;
}

.btn-31:hover:before {
--progress: 0%;
}

.btn-31 .text-container {
display: block;
overflow: hidden;
position: relative;
}

.btn-31 .text {
display: block;
font-weight: 900;
mix-blend-mode: difference;
position: relative;
}

.btn-31:hover .text {
-webkit-animation: move-up-alternate 0.3s ease forwards;
animation: move-up-alternate 0.3s ease forwards;
}

@-webkit-keyframes move-up-alternate {
0% {
transform: translateY(0);
}

50% {
transform: translateY(80%);
}

51% {
transform: translateY(-80%);
}

to {
transform: translateY(0);
}
}

@keyframes move-up-alternate {
0% {
transform: translateY(0);
}

50% {
transform: translateY(80%);
}

51% {
transform: translateY(-80%);
}

to {
transform: translateY(0);
}
}
.image-card2{
    height:300px ;
    width: 480px; 
    border-radius:10px ;
}












/*instragram button*/

.tooltip-container {
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 17px;
  border-radius: 10px;
}

.tooltip {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  border-radius: 15px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
}

.profile {
  background: #2a2b2f;
  border-radius: 10px 15px;
  padding: 10px;
  border: 1px solid #52382f;
}

.tooltip-container:hover .tooltip {
  top: -150px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.icon {
  text-decoration: none;
  color: #fff;
  display: block;
  position: relative;
}
.layer {
  width: 55px;
  height: 55px;
  transition: transform 0.3s;
}
.icon:hover .layer {
  transform: rotate(-35deg) skew(20deg);
}
.layer span {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 15px;
  transition: all 0.3s;
}

.layer span,
.text {
  color: #e6683c;
  border-color: #e6683c;
}

.icon:hover.layer span {
  box-shadow: -1px 1px 3px #e6683c;
}
.icon .text {
  position: absolute;
  left: 50%;
  bottom: -5px;
  opacity: 0;
  font-weight: 500;
  transform: translateX(-50%);
  transition: bottom 0.3s ease, opacity 0.3s ease;
}
.icon:hover .text {
  bottom: -35px;
  opacity: 1;
}

.icon:hover .layer span:nth-child(1) {
  opacity: 0.2;
}
.icon:hover .layer span:nth-child(2) {
  opacity: 0.4;
  transform: translate(5px, -5px);
}
.icon:hover .layer span:nth-child(3) {
  opacity: 0.6;
  transform: translate(10px, -10px);
}
.icon:hover .layer span:nth-child(4) {
  opacity: 0.8;
  transform: translate(15px, -15px);
}
.icon:hover .layer span:nth-child(5) {
  opacity: 1;
  transform: translate(20px, -20px);
}

.instagramSVG {
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}
.user {
  display: flex;
  gap: 10px;
}
.img {
  width: 50px;
  height: 50px;
  font-size: 25px;
  font-weight: 700;
  border: 1px solid #e6683c;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.name {
  font-size: 17px;
  font-weight: 700;
  color: #e6683c;
}
.details {
  display: flex;
  flex-direction: column;
  gap: 0;
  color: #fff;
}
.about {
  color: #ccc;
  padding-top: 5px;
}



.tooltip-container {
    position: relative;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 17px;
    border-radius: 10px;
  }
  
  .tooltip {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 15px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  }
  
  .profile {
    background: #2a2b2f;
    border-radius: 10px 15px;
    padding: 10px;
    border: 1px solid rgba(11, 63, 95, 1);
  }
  
  .tooltip-container:hover .tooltip {
    top: -150px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .icon {
    text-decoration: none;
    color: #fff;
    display: block;
    position: relative;
  }
  .layer {
    width: 55px;
    height: 55px;
    transition: transform 0.3s;
  }
  .icon:hover .layer {
    transform: rotate(-35deg) skew(20deg);
  }
  .layer span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #fff;
    border-radius: 5px;
    transition: all 0.3s;
  }
  
  .layer span,
  .text {
    color: #f4bc94;
    border-color: #f4bc94;
  }
  
  .icon:hover.layer span {
    box-shadow: -1px 1px 3px #f4bc94;
  }
  .icon .text {
    position: absolute;
    left: 50%;
    bottom: -5px;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-50%);
    transition: bottom 0.3s ease, opacity 0.3s ease;
  }
  .icon:hover .text {
    bottom: -35px;
    opacity: 1;
  }
  
  .icon:hover .layer span:nth-child(1) {
    opacity: 0.2;
  }
  .icon:hover .layer span:nth-child(2) {
    opacity: 0.4;
    transform: translate(5px, -5px);
  }
  .icon:hover .layer span:nth-child(3) {
    opacity: 0.6;
    transform: translate(10px, -10px);
  }
  .icon:hover .layer span:nth-child(4) {
    opacity: 0.8;
    transform: translate(15px, -15px);
  }
  .icon:hover .layer span:nth-child(5) {
    opacity: 1;
    transform: translate(20px, -20px);
  }
  
  .layer span.fab {
    font-size: 30px;
    line-height: 64px;
    text-align: center;
    fill: #f4bc94;
    background: #000;
  }
  .user {
    display: flex;
    gap: 10px;
  }
  .img {
    width: 50px;
    height: 50px;
    font-size: 25px;
    font-weight: 700;
    border: 1px solid #f4bc94;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }
  .name {
    font-size: 17px;
    font-weight: 700;
    color: #f4bc94;
  }
  .details {
    display: flex;
    flex-direction: column;
    gap: 0;
    color: #fff;
  }
  .about {
    color: #ccc;
    padding-top: 5px;
  }
  .boxc {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.imgo{
  background-image:url(l) ;
}



/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

/* button styling */
.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: #f4bc94;
  --fs-size: 2em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}